.calculator{
    width: 30vw;
    height: 70vh;
    border: 1px solid rgb(168, 168, 168);
    margin: auto;
    position: relative;
    top: 100px;
    display: grid;
    gap: 5px;
    padding: 20px;
    
    
}

.calculator>.form-group{
    display: flex;
    justify-content: space-between;
    gap: 5px;

}

.calculator>.form-group>button{
    width: 25%;
    font-size: 25px;
    border:none;
    border-radius: 5px;
}
.calculator>.form-group>button:hover{
    background-color: gray;
}
.calculator>.form-group>input{
    width: 100%;
    font-size: 40px;
    border: 1px solid rgb(160, 157, 157);
    text-align: end;
    outline: none;
    border-radius: 5px;
  

}

.calculator>.form-group>.evaluate{
    color: aliceblue;
    background-color: rgb(58, 58, 151);
    font-size: 30px;
}

.calculator>.form-group>.evaluate:hover{
    background-color: rgb(155, 155, 220);
    
}